body {
    font-family: helvetica neue;
    background-color: #E7EAEC;
}

.page h1,
.page h2
{
    color: #BCBEC0;
    font-weight: normal;
    margin-top: 0px;
}

.page hr {
    height: 2px;
    background-color: #E6E7E8;
    border: none;
    border-bottom: solid 1px #FFFFFF;
}

.frame {
    position:absolute;
    top:30px;
    right:50px;
    bottom:20px;
    left:50px;
    background-color: #F1F2F2;
    border: 1px solid #BCBEC0;
    border-radius: 4px;
}

.page-container {
    position:absolute;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.stage-center {
    top: 0;
    left: 0;
    z-index: 1;
}

.stage-left {
    left: -100%;
    z-index: 0;
}

.stage-right {
    left: 100%;
    z-index: 0;
}

.transition {
    -moz-transition-duration: .250s;
    -webkit-transition-duration: .250s;
    -o-transition-duration: .250s;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}